.app-container {
  margin: 1rem auto;
  max-width: 50rem;
  padding: 1rem;
}

.form {}

.form-field {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem 0 2rem;
}

.form-label {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.form-input,
.form-submit {
  border: 2px solid black;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

input[type="checkbox"].form-input {
  width: 2rem;
  height: 2rem;
}

.form-submit {
  background-color: white;
  display: block;
}

.status-success,
.status-error {
  border: 2px solid;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  display: inline-block;
  margin-top: 0;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.status-success {
  border-color: yellowgreen;
}

.status-error {
  border-color: tomato;
}